@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="horizontalLayout">

<MudCarousel style="width: 100vw; height: 56vw" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <img src="images/home01.jpg" width="100%" />
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="images/home02.jpg" width="100%" />
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="images/home03.jpg" width="100%" />
    </MudCarouselItem>
</MudCarousel>

</div>

<div class="verticalLayout">

<MudCarousel style="width: 100vw; height: 178vw" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <img src="images/home01c.jpg" width="100%" />
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="images/home02c.jpg" width="100%" />
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <img src="images/home03c.jpg" width="100%" />
    </MudCarouselItem>
</MudCarousel>

</div>