@media handheld {
    .horizontalLayout {
        display: none;
    }

    .verticalLayout {
        display: flex;
    }
}
@media screen {
    .horizontalLayout {
        display: flex;
    }

    .verticalLayout {
        display: none;
    }
}
