@media (max-width: 768px) and (orientation: portrait) {
    .horizontalLayout {
        display: none;
    }

    .verticalLayout {
        display: flex;
    }
}
@media (min-width: 769px), (orientation: landscape) {
    .horizontalLayout {
        display: flex;
    }

    .verticalLayout {
        display: none;
    }
}
